.number {
    border: 2px red;
    box-sizing: border-box;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 400px;
    width: 100%;
}