.number {
    border: 2px red;
    box-sizing: border-box;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 400px;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #8a66f0;
  color: white;
  font-weight: 600;
}

.toolbar span {
  margin: 10px;
  font-size: 30px;
}

.content {
  margin: 82px auto 32px;
  padding: 0 16px;
  line-height: 1.5;
  font-family: NHG Display Bold,sans-serif;
}