<ng-container *ngIf="loadingPage; else elseTemplate">
    <div class="loader"></div>
</ng-container>

<ng-template #elseTemplate>
    <h1> Users: </h1>

    <div class="filter-container">
        <mat-form-field appearance="fill">
            <mat-label>Select an header to filter by:</mat-label>
            <mat-select [value]="selectBy" (selectionChange)="onSelect($event)">
                <mat-option [value]=''>None</mat-option>
                <mat-option *ngFor="let header of headers" [value]="header.key">{{header.value}}</mat-option>
            </mat-select>
        </mat-form-field>
        <input class="filter-input" [value]="filterBy.value" (input)="onFilterChange($event)" placeholder="Filter By" />
    </div>

    <div class="select-headers">
        <span> Selected columns: </span>
        <div *ngFor="let header of headers" class="checkbox">
            <label class="chechbox-container">
                <input type="checkbox" [(ngModel)]="header.checked"
                    (change)="setHeaderChecked(header.value, header.checked)" />
                {{header.value}}
                <span class="checkmark"></span>
            </label>
        </div>
    </div>

    <ng-container *ngIf="loadingTable; else table">
        <div class="loader"></div>
    </ng-container>

    <ng-template #table>
        <ng-container *ngIf="filteredItems.length; else noResults">
            <div class="table-container">
                <app-table [items]="filteredItems" [headers]="filteredHeaders" [fetchMoreData]="fetchMoreData">
                </app-table>
            </div>
        </ng-container>

        <ng-template #noResults>
            <div class="no-results">
                No results for your search...
            </div>
        </ng-template>
    </ng-template>


</ng-template>