.filter-input {
  width: 20rem;
  height: 3rem;
  margin-left: 1rem;
}

.table-container {
  margin-top: 2rem;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #8a66f0;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

.select-headers {
  display: flex;
  margin-top: 2rem;
  font-size: 16px;
}

.checkbox {
  margin: 0rem 1rem;
}

.no-results {
  margin-top: 3rem;
  font-size: 20px;
  font-weight: 700;
}

.filter-container {
  display: flex;
}

.select-filter {
  width: 270px;
}