main {
  margin: auto;
  margin-top: 16px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.select-headers {
  display: flex;
  font-size: 16px;
}

.checkbox {
  margin: 0rem 1rem;
}

.no-results {
  margin-top: 3rem;
  font-size: 20px;
  font-weight: 700;
}

.filter-container {
  display: flex;

  .select-filter {
    flex-basis:30%;
  }

  .search-field {
    // flex: 1;
    flex-basis:70%;
  }
}
