@import "~@angular/material/theming";
@include mat-core();


:root {
  --color-primary: #4EC2C2;
  --background-color: #48474D;
  --navbar-bg-color: #5B5351;
  --text: #ffffff;
}


$ironsource-primary: mat-palette($mat-light-blue);
$ironsource-accent: mat-palette($mat-light-blue, A200, A100, A400);

$ironsource-warn: mat-palette($mat-red);

$ironsource-theme: mat-dark-theme($ironsource-primary, $ironsource-accent, $ironsource-warn);

$ironsource-dark-theme: (primary: $ironsource-primary,
  accent: $ironsource-accent,
  warn: $ironsource-warn,
  is-dark: true,
  foreground: $mat-dark-theme-foreground,
  background: $mat-dark-theme-background);

@include angular-material-theme($ironsource-dark-theme);

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: var(--background-color);
  color: var(--text);
}
