table.table {
  display: flex;
  margin: auto;
  width: fit-content;
  flex-direction: column;
}

.header,
.box {
  border-bottom: 2px solid var(--background-bg-color);
  font-size: 18px;
  vertical-align: bottom;
  padding: 10px 20px;
  width: 150px;
  text-align: center;
}

.box {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.container {
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: var(--background-color);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--color-primary);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: darken(#4EC2C2, 20%);
  }

}

.container {
  display: flex;
  height: 70vh;
  direction: rtl;

  .row {
    height: 140px;
    display: flex;
    align-items: center;
    direction: ltr;
    background-color: var(--navbar-bg-color);
    border-radius: 20px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.loading {
  height: 10vh;
  display: grid;
  place-items: center;
  direction: ltr;
  padding-left: 3rem;
  font-size: 2rem;
}
