<tr>
    <!--ths headers of the table-->
    <th class="header" *ngFor="let head of headers">
        {{head.charAt(0).toUpperCase() + head.slice(1)}}
    </th>
</tr>

<cdk-virtual-scroll-viewport #scroller itemSize="69" class="container">
    <!--ths items of the table-->
    <tr *cdkVirtualFor="let item of items; let i = index" class="row">
        <td class="box" *ngFor="let head of headers">
            {{item[head]}}
        </td>
    </tr>

    <ng-container *ngIf="loading">
        <div class="loading">
            Loading more...
        </div>
    </ng-container>

</cdk-virtual-scroll-viewport>