<tr>
    <!--ths headers of the table-->
    <th class="header"> # </th>
    <th class="header" *ngFor="let head of headers">
        {{head}}
    </th>
</tr>

<cdk-virtual-scroll-viewport #scroller itemSize="109" class="container">
    <!--ths items of the table-->
    <tr *cdkVirtualFor="let item of items; let i = index" class="row">
        <td class="box"> {{ i + 1}} </td>
        <td class="box" *ngFor="let head of headers">
            {{item[head]}}
        </td>
    </tr>

    <ng-container *ngIf="loading">
        loading...
    </ng-container>

</cdk-virtual-scroll-viewport>