.header {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  font-size: 18px;
  vertical-align: bottom;
  padding: 20px 100px;
  width: 200px;
}

.box {
  border-top: 1px solid #dee2e6;
  vertical-align: top;
  font-size: 15px;
  padding: 20px 100px;
  display: flex;
  justify-content: center;
  width: 200px;
  align-items: center;
}

.container {
  height: 440px;
}

.row {
  height: 109px;
  display: flex;
}
