
    <tr>
        <!--ths headers of the table-->
        <th class="header"> # </th>
        <th class="header" *ngFor="let head of headers">
            {{head}}
        </th>
    </tr>

    <cdk-virtual-scroll-viewport #scroller itemSize="150" class="container">
        <tr *cdkVirtualFor="let item of items; let i = index" class="row">
            <td class="box"> {{ i + 1}} </td>
            <!--ths items of the table-->
            <td class="box" *ngFor="let head of headers">
                {{item[head]}}
            </td>
        </tr>
    </cdk-virtual-scroll-viewport>

